.tweet {
  color: #161616;
  background-color: #e6ecf0;
  margin-bottom: 0.5em;
  width: 500px;
}
.tweet a,
.tweet a:hover,
.tweet a:focus,
.tweet a:visited {
  border: none;
  text-decoration: none;
  color: #1da1f2;
}
.tweet .twitter-top .logo {
  float: right;
  margin-right: 5px;
}
.tweet .twitter-top .avatar,
.tweet .counts {
  clear: both;
}
.tweet .twitter-top .logo,
.tweet .twitter-top .avatar {
  display: inline-block;
}
.tweet .twitter-top .avatar .user-logo,
.tweet .twitter-top .avatar .user-details {
  display: inline-block;
}
.tweet .twitter-top .avatar .user-logo {
  vertical-align: middle;
}
.tweet .twitter-top .avatar .user-logo img {
  padding: 5px;
}
.tweet .twitter-top .avatar .user-details {
  vertical-align: sub;
  margin-top: 5%;
}
.tweet .text p {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding: 5px;
}
.tweet .twitter-top .logo svg {
  width: 50px;
  height: 50px;
}
.tweet .counts span.reply,
.tweet .counts span.retweet {
  margin-right: 1.5em;
}
.tweet .badge {
  width: 20px;
  display: inline-block;
}
.tweet .badge svg {
  vertical-align: middle;
}
.tweet .created {
  float: right;
  font-weight: bold;
  padding-right: 10px;
}

